<% content_for :title, "results" %>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
<%= javascript_include_tag "flash_message_updated.js" %>

<div class="responses">
	<%= "username,gender,age,country,q_id,stimulus_type,showing,target_value,response_value,response_time,value_changes" %>
	<% @responses.each do |r| %>
		<br>
		<%= r.username + "," + r.gender + "," + r.age.to_s + "," + r.country + "," + r.q_id.to_s + "," +  r.stimulus_type + "," + r.showing + "," + r.target_value.to_s + "," + r.response_value.to_s + "," + r.response_time.to_s + "," + r.value_changes.to_s %>
	<% end %>
</div>


