<p class="hidden" id="num-image">9</p>
	<p class="hidden" id="num-stim">4</p>

	<img src="http://media-cache-ec0.pinimg.com/736x/ea/12/fa/ea12facff78f36a5f409c5379a9dc624.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-0" class="cycle-elem">
	<img src="http://media-cache-ec0.pinimg.com/736x/ff/92/50/ff9250daf73ab5078a98c31e07964b3b.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-1" class="cycle-elem">
	<img src="http://media-cache-ec0.pinimg.com/736x/df/0e/20/df0e20e5092d8e2011bace0ba6cd5037.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-2" class="cycle-elem">
	<img src="http://media-cache-ak0.pinimg.com/736x/17/f1/cc/17f1cc1bc475841b47f9f8bb1a20dbc6.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-3" class="cycle-elem">
	<img src="http://media-cache-ak0.pinimg.com/736x/df/2c/7d/df2c7d448f86b7b4e573636ac1513627.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-4" class="cycle-elem">
	<img src="http://host4.images.cdn.fotopedia.com/jmhullot-ef3ad4ea666e6687618f9f48322f6542-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-5" class="cycle-elem">
	<img src="http://host2.images.cdn.fotopedia.com/flickr-7272989918-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-6" class="cycle-elem">
	<img src="http://host4.images.cdn.fotopedia.com/flickr-2407957854-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-7" class="cycle-elem">
	<img src="http://host1.images.cdn.fotopedia.com/flickr-5862753102-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-8" class="cycle-elem">
	<img src="http://host2.images.cdn.fotopedia.com/flickr-3967623413-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-9" class="cycle-elem">
	<img src="http://host2.images.cdn.fotopedia.com/flickr-3884718890-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-10" class="cycle-elem">
	<img src="http://host4.images.cdn.fotopedia.com/flickr-8078733592-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-11" class="cycle-elem">
	<img src="http://host1.images.cdn.fotopedia.com/flickr-2672934843-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-12" class="cycle-elem">
	<img src="http://host4.images.cdn.fotopedia.com/flickr-9157010981-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-13" class="cycle-elem">
	<img src="http://host3.images.cdn.fotopedia.com/flickr-3531136243-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-14" class="cycle-elem">
	<img src="http://host4.images.cdn.fotopedia.com/flickr-3736401474-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-15" class="cycle-elem">
	<img src="http://host1.images.cdn.fotopedia.com/flickr-3488876338-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-16" class="cycle-elem">
	<img src="http://host4.images.cdn.fotopedia.com/flickr-7599614132-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-17" class="cycle-elem">
	<img src="http://host3.images.cdn.fotopedia.com/flickr-2871192823-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-18" class="cycle-elem">
	<img src="http://host3.images.cdn.fotopedia.com/flickr-5569536543-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-19" class="cycle-elem">
	<img src="http://host4.images.cdn.fotopedia.com/flickr-2214318838-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-20" class="cycle-elem">
	<img src="http://host1.images.cdn.fotopedia.com/flickr-3366793301-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-21" class="cycle-elem">
	<img src="http://host3.images.cdn.fotopedia.com/flickr-1238272161-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-22" class="cycle-elem">
	<img src="http://host3.images.cdn.fotopedia.com/flickr-4549538653-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-23" class="cycle-elem">
	<img src="http://host2.images.cdn.fotopedia.com/flickr-3367615172-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-24" class="cycle-elem">
	<img src="http://host2.images.cdn.fotopedia.com/flickr-4089047700-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-25" class="cycle-elem">
	<img src="http://host2.images.cdn.fotopedia.com/flickr-4134287345-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-26" class="cycle-elem">
	<img src="http://host3.images.cdn.fotopedia.com/flickr-4120256780-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-27" class="cycle-elem">
	<img src="http://host4.images.cdn.fotopedia.com/flickr-3689816152-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-28" class="cycle-elem">
	<img src="http://host2.images.cdn.fotopedia.com/flickr-4923319094-medium.jpg" alt="http://host2.images.cdn.fotopedia.com/flickr-7819534812-medium.jpg" id="cycle-29" class="cycle-elem">








	<img src="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-0" class="cycle-elem">

	<img src="http://media-cache-ec0.pinimg.com/736x/dd/2a/e5/dd2ae57bc1a23dbecbb0523f53149f9d.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-1" class="cycle-elem">

	<img src="http://media-cache-ec0.pinimg.com/736x/c0/77/d5/c077d5978ec6af8627433b6fd1063f91.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-2" class="cycle-elem">

	<img src="http://media-cache-ak0.pinimg.com/736x/e3/ad/32/e3ad32ea56874c74d3c741d93e667aa7.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-3" class="cycle-elem">

	<img src="http://media-cache-ak0.pinimg.com/736x/fc/4d/04/fc4d04e51fbd827a7bac50cb027393a3.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-4" class="cycle-elem">

	<img src="http://host3.images.cdn.fotopedia.com/flickr-2418836553-medium.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-5" class="cycle-elem">

	<img src="http://host4.images.cdn.fotopedia.com/flickr-8525230481-medium.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-6" class="cycle-elem">

	<img src="http://host4.images.cdn.fotopedia.com/picasaweb-5039223286681697474-medium.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-7" class="cycle-elem">
	<img src="http://host2.images.cdn.fotopedia.com/picasaweb-5039223213667253346-medium.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-8" class="cycle-elem">
	<img src="http://media-cache-ak0.pinimg.com/736x/fe/ec/a5/feeca5b2042c9659f034fae1be9a1de2.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-9" class="cycle-elem">
	<img src="http://media-cache-ec0.pinimg.com/736x/ef/ed/b9/efedb9d9476932601a4fe7b0779b3581.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-10" class="cycle-elem">
	<img src="http://media-cache-ak0.pinimg.com/736x/15/25/4e/15254ef1366f78dcb73520ffe7bfbb45.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-11" class="cycle-elem">
	<img src="	http://media-cache-ak0.pinimg.com/736x/a5/63/fc/a563fc8676bc4050f032d3bdb96d12b3.jpg" alt="http://media-cache-ec0.pinimg.com/736x/72/0b/4f/720b4fc5ad719fd9d712e4d8c79e438a.jpg" id="pos-12" class="cycle-elem">




	<img src="http://host4.images.cdn.fotopedia.com/flickr-7580310736-medium.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" class="cycle-elem">

	<img src="http://host4.images.cdn.fotopedia.com/flickr-4641613713-medium.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-1" class="cycle-elem">

	<img src="http://host4.images.cdn.fotopedia.com/flickr-3113637412-medium.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-2" class="cycle-elem">

	<img src="http://host2.images.cdn.fotopedia.com/flickr-2993067592-medium.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-3" class="cycle-elem">
	<img src="http://host2.images.cdn.fotopedia.com/flickr-3208080239-medium.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-4" class="cycle-elem">
	<img src="http://host1.images.cdn.fotopedia.com/7rgbb6nfv0bts-5oaUu-4PJkA-medium.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-5" class="cycle-elem">
	<img src="http://media-cache-ec0.pinimg.com/736x/a7/b4/50/a7b4506b5de3d6d82d1dd04866b335c9.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-6" class="cycle-elem">
	<img src="http://media-cache-ec0.pinimg.com/736x/49/6a/ee/496aee21f515628bc07bae9e5b199a2d.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-7" class="cycle-elem">
	<img src="http://media-cache-ak0.pinimg.com/736x/c6/ee/b9/c6eeb9bbb09e16e82e1392986232b4b7.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-8" class="cycle-elem">
	<img src="http://media-cache-ec0.pinimg.com/736x/cc/c4/3b/ccc43b7bae748241dc5e6e52d37bce0c.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-9" class="cycle-elem">
	<img src="http://media-cache-ec0.pinimg.com/736x/73/96/df/7396dfcd578216256eb2af07b6333005.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-10" class="cycle-elem">
	<img src="http://media-cache-ec0.pinimg.com/736x/82/1b/19/821b1999c54332139b46247713944026.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-11" class="cycle-elem">
	<img src="http://ows.edb.utexas.edu/sites/default/files/users/mjoseph/ut-vietnam-girl.jpg" alt="http://1.bp.blogspot.com/_YYMeAu4i7gA/TE7j0UkphxI/AAAAAAAAIRw/goFpkOqlotI/s1600/VIETNAM-WAR-RARE-INCREDIBLE-PICTURES-IMAGES=PHOTOS-HISTORY-021.jpg" id="neg-0" id="neg-12" class="cycle-elem">

	
