	<p class="hidden" id="num-image">10</p>
	<p class="hidden" id="num-stim">2</p>

	<p id="cycle-0" class="cycle-elem">Fusce dapibus, tellus ac cursus commodo.</p>
	<p id="cycle-1" class="cycle-elem">Venenatis Adipiscing Malesuada Sem Vulputate</p>
	<p id="cycle-2" class="cycle-elem">Sem Sit Incepto piscings Pharetra Egestas</p>
	<p id="cycle-3" class="cycle-elem">Venenatis Dolor Amet Quam Consectetur</p>
	<p id="cycle-4" class="cycle-elem">Adipiscing Tellus Fringilla Aenean Dolor</p>
	<p id="cycle-5" class="cycle-elem">Elit Tellus Fermentum Sem Mollis epsinuis</p>
	<p id="cycle-6" class="cycle-elem">Consectetur Ornare Ridiculus Tortor Porta</p>
	<p id="cycle-7" class="cycle-elem">Vehicula Fermentum Tortor Sollicitudin Ridicu</p>
	<p id="cycle-8" class="cycle-elem">Dolor Aenean Egestas Vulputate Adipiscing</p>
	<p id="cycle-9" class="cycle-elem">Mollis Pellentesque Dolor Cras Magnaadomos</p>

	<p id="pos-0" class="cycle-elem">aless smaller decrease reduce minify petite</p>
	<p id="pos-1" class="cycle-elem">less mini reduce small petite subtract</p>

	<p id="neg-0" class="cycle-elem">tmore greater add increase plus max stronga</p>
	<p id="neg-1" class="cycle-elem">add mass stronger max greater increase plus</p>
