




<div class="value-cycle-wrapper">
	<%#= render "text_stimuli" %>
	<%= render "image_stimuli" %>
</div>


<script>

var options = [];
var timeInterval =20;
var recentOptions = [];
var numRecentOptsToStore = 8;
var counter = 0;
var numRegOpts;
var numStim;
var numOptions;




window.onload = function(){

	var q_type;
	if (document.getElementById("q-type")){
		q_type = document.getElementById("q-type").innerHTML;
	}
	if (q_type == "range") flashForRange();
	else if (q_type == "select") flashForSelect();



	var numOptionsElem = document.getElementById("num-image");
	numRegOpts = parseInt(numOptionsElem.innerHTML);

	// var numOptionsElem = document.getElementById("num-positive");
	numStim = parseInt(document.getElementById("num-stim").innerHTML);
	numOptions = numRegOpts;

	for (i=0; i<numRegOpts; i++){
		var id = "cycle-"+i;
		console.log("getting id:" + id);
		options[i] = document.getElementById(id);
		options[i].style.display = "none";
	}

	changeStimulis(true);
	setInterval(function(){flashRandomStimuli()}, timeInterval);
	
}


function flashRandomStimuli(){
	counter++; 
	var optionToFlash=Math.floor((Math.random() * numOptions));
	while (recentOptions.indexOf(optionToFlash) >= 0 ){
		optionToFlash = Math.floor((Math.random() * numOptions));
	}
	recentOptions[counter % numRecentOptsToStore] = optionToFlash;
	options[optionToFlash].style.display = "block";
	setTimeout(function(){options[optionToFlash].style.display = "none"}, timeInterval);
}

function changeStimulis(isPositive){
	var i = 0;

	if (isPositive){
		for (i; i<(numStim); i++){
			var id = "pos-"+i;
			console.log("getting id:" + id);
			if (document.getElementById(id)){
				options[i+numRegOpts-1] = document.getElementById(id);
			}
		}
	} 
	else{
		for (i; i<(numStim); i++){
			var id = "neg-"+i;
			console.log("getting id:" + id);
			if (document.getElementById(id)){
				options[i+numRegOpts-1] = document.getElementById(id);
			}
		}
	}

	numOptions = numRegOpts + numStim - 1;

}


function flashForRange(rangeId) {
	this.rangeSlider = document.getElementById(rangeId);
	this.isActive = false;
	if (!this.rangeSlider) return;
	obj = this;
	this.rangeSlider.onmousedown = function(event){ obj.mouseDown(); }
	document.body.mouseup = function(event){ this.mouseUp(event); }
}

flashForRange.prototype.mouseDown = function(event){
	this.isActive = true;

	// To handle slider action
	this.rangeSlider.onmousemove = function(event) {obj.mouseMove(event);}
    document.body.onmouseup = function(event){obj.mouseUp(event);}
}

flashForRange.prototype.mouseMove = function(event){

	var slider=document.getElementById("slider-value");
	if (this.rangeSlider == document.activeElement && this.isActive) {
		slider.innerHTML = "Value: " + this.rangeSlider.value;
		handleSliderOutput(this.rangeSlider.value);
	}
	document.body.onmouseup = function(event) {obj.mouseUp(event);}
 	
}

flashForRange.prototype.mouseUp = function(event){
	this.isActive = false;
}

function handleSliderOutput(value){
	// console.log(value);
	targetValue = document.getElementById("target_value");
	console.log(target_value.innerHTML);
	if(value < target_value.innerHTML){
		changeStimulis(true);
	}else if (value > target_value.innerHTML){
		changeStimulis(false);
	}
	// }else{
	// 	message = "perfectwonderfulgreatawesome";
	// }


}

function flashForSelect(){
	i = 1;
	var currCheckBox = document.getElementById(q_num + "_"+i);
	var target_value = document.getElementById("target_value").innerHTML;
	var rate_value;

	// console.log(target_value);

	// Get current value
	while (currCheckBox){
		if (currCheckBox.checked) {
		  rate_value = currCheckBox.value;
		  console.log(rate_value);
		  break;
		} else{
			i += 1;
			currCheckBox = document.getElementById(q_num+"_"+i);
		}
	}
	if (rate_value != target_value){
		changeStimulis(false);
	} else{
		changeStimulis(true);
	}
}


</script>