




<div class="value-cycle-wrapper">
	<%#= render "text_stimuli" %>
	<%= render "image_stimuli" %>
</div>


<script>

var options = [];
var timeInterval =20;
var prevImgNum = 0;
var recentOptions = [];
var numRecentOptsToStore = 8;
var counter = 0;
var numRegOpts;
var numStim;
var numOptions;




window.onload = function(){
	var numOptionsElem = document.getElementById("num-image");
	numRegOpts = parseInt(numOptionsElem.innerHTML);

	// var numOptionsElem = document.getElementById("num-positive");
	numStim = parseInt(document.getElementById("num-stim").innerHTML);
	numOptions = numRegOpts;

	i = 0;
	for (i; i<numRegOpts; i++){
		var id = "cycle-"+i;
		console.log("getting id:" + id);
		options[i] = document.getElementById(id);
		options[i].style.display = "none";
	}

	changeStimulis(true);
	setTimeout(function(){changeStimulis(false)}, 3000);	



	var isPositive = true;
	setInterval(function(){flashRandomStimuli()}, timeInterval);
	
}

function flashRandomStimuliAlt(){
	
	var optionToFlash=Math.floor((Math.random() * numOptions));

	while (prevImgNum == optionToFlash){
		optionToFlash = Math.floor((Math.random() * numOptions));
	}
	prevImgNum = optionToFlash;
	console.log(optionToFlash);

	options[optionToFlash].style.display = "block";
	setTimeout(function(){options[optionToFlash].style.display = "none"}, timeInterval-10);
	// console.log(optionToFlash);
}



function flashRandomStimuli(){
	
	counter++; 
	var optionToFlash=Math.floor((Math.random() * numOptions));

	while (recentOptions.indexOf(optionToFlash) >= 0 ){
		optionToFlash = Math.floor((Math.random() * numOptions));
	}

	recentOptions[counter % numRecentOptsToStore] = optionToFlash;
	
	// console.log(counter + " : " + optionToFlash);

	options[optionToFlash].style.display = "block";
	setTimeout(function(){options[optionToFlash].style.display = "none"}, timeInterval);
	// console.log(optionToFlash);
}

function changeStimulis(isPositive){
	var i = 0;

	if (isPositive){
		for (i; i<(numStim); i++){
			var id = "pos-"+i;
			console.log("getting id:" + id);
			if (document.getElementById(id)){
				options[i+numRegOpts-1] = document.getElementById(id);
			}
		}
	} 
	else{
		for (i; i<(numStim); i++){
			var id = "neg-"+i;
			console.log("getting id:" + id);
			if (document.getElementById(id)){
				options[i+numRegOpts-1] = document.getElementById(id);
			}
		}
	}

	numOptions = numRegOpts + numStim - 1;

}


</script>